.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  height: 100vh;
  margin: 0;
  padding-left: 5vw;
  perspective: 100vw;
  perspective-origin: 50%;
}

.nav-item {
  font-size: 12vw;
  font-weight: 900;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transform-origin: center left;
  transform: rotateY(45deg);
  animation: out 1s forwards cubic-bezier(0.175, 0.82, 0.165, 1);
  color: white;
  -webkit-text-stroke: 3px white;
  letter-spacing: .02em;
  line-height: .9em;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

.nav-item:hover {
  animation: in 1s forwards cubic-bezier(0.175, 0.82, 0.165, 1);
}

@keyframes in {
  from {
    transform: rotateY(45deg);
    color: white;
  }

  to {
    transform: rotateY(30deg);
    color: transparent;
  }
}

@keyframes out {
  from {
    transform: rotateY(30deg);
    color: transparent;
  }

  to {
    transform: rotateY(45deg);
    color: white;
  }
}

@media screen and (max-width: 500px){
  .nav-item{
    font-size: 20vw;
  }
}