.page-container {
  perspective: 100vw;
  perspective-origin: 50%;
  transform-style: preserve-3d;
}

.nav-list-container {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  transform-style: preserve-3d;
}

.nav-list {
  width: 95%;
  height: 100vh;
  margin: 0;
  padding-left: 5vw;
  transform-style: preserve-3d;
}

.disc {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  border-style: solid;
  border-width: 17.5vw;
  border-color: black;
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  animation-name: insert-disc;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.disc::after {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  border-style: solid;
  border-width: 5vw;
  border-color: white;
  position: absolute;
  top: -200%;
  left: 50%;
  transform: translate(-50%);
  content: '';
}

.disc-tray {
  width: 40vw;
  height: 5px;
  border: 2px solid white;
  position: fixed;
  top: 90%;
  left: 75%;
  transform: translate(-50%);
  background-color: white;
  animation: open-disc-tray 1s ease-out;
}

.nav-item-container {
  list-style: none;
  transform-style: preserve-3d;
  cursor: pointer;
}

.nav-item {
  font-size: 12vw;
  font-weight: 900;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transform-origin: center left;
  transform: rotateY(45deg);
  transform-style: preserve-3d;
  animation: out 1s forwards cubic-bezier(0.175, 0.82, 0.165, 1);
  width: fit-content;
  color: white;
  -webkit-text-stroke: 3px white;
  letter-spacing: .02em;
  line-height: .9em;
  cursor: pointer;
  background-color: red;
  text-decoration: none;
}

.nav-item:hover {
  animation: in 1s forwards cubic-bezier(0.175, 0.82, 0.165, 1);
}

@keyframes in {
  from {
    transform: rotateY(45deg);
    color: white;
  }

  to {
    transform: rotateY(30deg);
    color: transparent;
  }
}

@keyframes out {
  from {
    transform: rotateY(30deg);
    color: transparent;
  }

  to {
    transform: rotateY(45deg);
    color: white;
  }
}

@keyframes insert-disc {
  0% {
    transform: translate(-50%, 0);
  }

  30% {
    transform: translate(-50%, 5%);
  }

  35% {
    transform: translate(-50%, 10%);
  }

  100% {
    transform: translate(-50%, 9%);
  }
}

@keyframes open-disc-tray {
  0% {
    width: 0;
  }

  100% {
    width: 40vw;
  }
}