.nav-list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding-left: 5vw;
  perspective: 100vw;
}

.disc {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  border-style: solid;
  border-width: 14vw;
  border-color: black;
  position: fixed;
  top: calc(50vh - 9vw);
  left: 50%;
  transform: translate(-50%);
}

.disc::after {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  border-style: solid;
  border-width: 4vw;
  border-color: white;
  position: absolute;
  top: -200%;
  left: 50%;
  transform: translate(-50%);
  content: '';
}

.disc:hover {
  animation-name: insert-disc;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.nav-item {
  font-size: 12vw;
  font-weight: 900;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  list-style: none;
  transform-origin: center left;
  transform: rotateY(45deg);
  animation: out 1s forwards cubic-bezier(0.175, 0.82, 0.165, 1);
  width: fit-content;
  color: white;
  -webkit-text-stroke: 3px white;
  letter-spacing: .02em;
  line-height: .9em;
  cursor: pointer;
}

.nav-item:hover {
  animation: in 1s forwards cubic-bezier(0.175, 0.82, 0.165, 1);
}

@keyframes in {
  from {
    transform: rotateY(45deg);
    color: white;
  }

  to {
    transform: rotateY(30deg);
    color: transparent;
  }
}

@keyframes out {
  from {
    transform: rotateY(30deg);
    color: transparent;
  }

  to {
    transform: rotateY(45deg);
    color: white;
  }
}

@keyframes insert-disc {
  0% {
    transform: translate(-50%) translateY(0);
  }

  40% {
    transform: translate(-50%) translateY(200px);
  }

  100% {
    transform: translate(-50%) translateY(1000px);
  }
}